.card {
    background-color: wheat;
}

.title{
    font-size: 20px;
    color:red;
}

.description {
    font-size: 15px;
}
.organizer_name {
    font-size: 15px;
    color:lightskyblue
}
.tags {
    font-size: 12px;
    color:gray
}

.lecture {
    border: 2px solid black;
    background: lightcyan;
}

.lecture_speaker {
    color:blue;
    text-decoration: underline;
}

.room {
    border: 2px solid black;
    background: rgb(115, 189, 189);
}
