.card {
    background-color: wheat;
    margin-inline: 4em;
}

.card_title{
    font-size: 20px;
    color:red;
}

.card_description {
    font-size: 15px;
}
.card_organizer_name {
    font-size: 15px;
    color:lightskyblue
}
.card_theme {
    font-size: 12px;
    color:gray
}
