.all_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-inline: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.card {
    background-color: wheat;
    margin-inline: 5%;
    padding-inline: 5%;
    padding-bottom: 1%;
}

.radio_group {
    grid-template-columns: repeat(2, 1fr);
}

.filters {
    margin-inline: 4%;
    background-color: wheat;
}

.card_image {
    max-width: 100%;
}

.card_title{
    font-size: 20px;
    color:red;
}

.card_description {
    font-size: 15px;
}
.card_organizer_name {
    font-size: 15px;
    color:lightskyblue
}
.card_theme {
    font-size: 12px;
    color:gray
}
